/* Waybar CSS - Pywal */
* {
  font-family: "Hack Nerd Font", "Hack NF", monospace;
  font-size: 13px;
  font-weight: 600;
  min-height: 0;
}
window#waybar {
    background-color: transparent;
    border: none;
}

#window, #clock, #workspaces, .modules-right {
    background-color: {background};
    color: {foreground};
    border: 3px solid {color1}; 
    border-radius: 15px;
    margin: 5px;
    padding: 2px 10px; 
}

#custom-spotify, #custom-firefox, #custom-steam, #custom-screenshot,
#cpu, #temperature, #temperature-gpu, #battery, #backlight, #memory, #network, 
#pulseaudio, #pulseaudio-microphone, #custom-power, #custom-menu-icon {
    background: transparent;
    border: none;
    padding: 0 6px;
    margin: 0 4px;
}

.drawer-child {
    margin-left: 4px;
    margin-right: 4px;
}

/* Colors */
#clock { color: {color3}; }
#window { color: {color5}; }
#custom-menu-icon { color: {color1}; }
#custom-spotify { color: {color2}; }
#custom-firefox { color: {color3}; }
#custom-steam { color: {color4}; }
#cpu { color: {color2}; }
#memory { color: {color4}; }
#network { color: {color6}; }
#pulseaudio { color: {color1}; }
#pulseaudio-microphone { color: {color4}; }
#temperature { color: {color1}; }
#temperature-gpu { color: {color2}; } 
#backlight { color: {color3}; }
#custom-power { color: {color1}; }
#custom-screenshot { color: {color5}; }
#battery { color: {color2}; }

#workspaces button { background: transparent; color: {foreground}; border: none; padding: 0 5px; }
#workspaces button.active { color: {color1}; }

tooltip {
    background: {background};
    border: 2px solid {color1};
    border-radius: 10px;
}

tooltip label {
    color: {foreground};
    padding: 8px;
}
